h1{
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}

.center_h2{
    color: rgb(255, 27, 27);
    text-decoration: underline;
    text-align: center;
}
h4{
    text-align: center; font-style: italic;
}
#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}